<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Recomendación de Países</title>
   <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
   <!--<div class="wallpaper-index">
   </div>-->

   <main
      class="w-full flex flex-col justify-center items-center h-screen absolute top-0 bg-gradient-to-tr from-gray-900 to-sky-900">
      <h1
         class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl dark:text-white">
         Sistema Experto de Recomendación de Países</h1>
      <form action="/recomendar" method="POST"
         class="max-w-2xl bg-gray-400/20 p-5 rounded-xl mt-4 shadow-md hover:shadow-slate-400 duration-300 ease-in-out">
         <div>
            <label for="clima" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Clima
               deseado</label>
            <input type="text" id="clima" name="clima"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
               placeholder="Clima deseado" required />
         </div>

         <label for="idioma" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Idioma deseado:</label>
         <input type="text" id="idioma" name="idioma"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Idioma" required />

         <label for="aspectos" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Aspectos turísticos
            deseados (separados por comas):</label>
         <input type="text" id="aspectos" name="aspectos"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Aspectos turísticos deseados" required />

         <input type="submit" value="Recomendar"
            class="bg-blue-500 p-2 rounded-xl text-white cursor-pointer hover:bg-blue-800 mt-3">
      </form>
   </main>
</body>

</html>